<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Form</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Press</a></li>
        </ul>
        <h3 class="text-muted">A New Startup</h3>
    </div>
    <% if (flask_debug === 'true') { %>
        <div class="alert alert-danger">
            Flask is in debug mode. This is not safe for production.
        </div>
    <% } %>
    <form id="signupForm" role="form" method="POST" action="<%= actionUrl %>">
        <div class="form-group <%= validationNameText ? 'has-error' : ''%>">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your name" value="<%= name%>">
            <% if (validationNameText) { %>
                <div class="help-block"><%= validationNameText %></div>
            <% } %>
        </div>
        <!--<input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>-->
        <div class="form-group <%= validationEmailText ? 'has-error' : ''%>">
            <label for="email">Email address</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Your email address" value="<%= email%>">
            <% if (validationEmailText) { %>
                <div class="help-block"><%= validationEmailText %></div>
            <% } %>
        </div>
        <div class="form-group">
            <label for="previewAccess">Interested in Preview Access?</label>
            <select class="form-control" name="previewAccess">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-primary">Submit</button>
        </div>
    </form>


    <div class="footer">
        <p>&copy; Form Svidunovich 2020</p>
    </div>

</div> <!-- /container -->
</body>
</html>
